
.cards{
    width: 70%;
    height: 300px;
         background-color: #014a5f;
         border-radius: 10px;
         margin: 0 auto;
         margin-top: 10px;
}



.cards img{
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
   

}

.cards h3{
    color: #fff;
}

.cards p{
    color: #fff;
    text-align: center;
}

@media only screen and (max-width:768px){
    .cards{
        width: 90%;
        
    }
}