.modalHolder{
   
    width: 50%;
    height: auto;
background: linear-gradient(145deg, #065f7a, #033e51); 
box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.35) inset, 0 8px 30px rgba(0, 0, 0, 0.35);       position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 150px auto;
z-index: 200;
border-radius: 5px;
}

.modalHolder .closeIcon{
    cursor: pointer;
    color: #fff;
}

.modalHolder p{
    padding: 20px;
    color: #fff;
}

.imageModal{
    width: 25%;
    height: 200px;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width:767px){
    .modalHolder{
        width: 90%;
    }.modalHolder p{
        font-size: 20px;
    }
}